.Promo__title {
    color: #000;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 160px 0 151px;
    text-align: center;
    max-width: 730px;
    letter-spacing: -0.04em;
}

.Promo_backgraund {
    background-color: #bd9393;
    width: calc(100% - 80px);
    height: 100%;
    position: absolute;
    z-index: -1;
    justify-content: center;
}

.Promo {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .Promo_backgraund {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 425px) {
    .Promo_backgraund {
        width: calc(100% - 24px);
    }
}

@media screen and (max-width: 1048px) {
    .Promo__title {
        font-size: 45px;
        line-height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .Promo__title {
        margin: 372px 0 314px;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        width: 85%;
    }
}

@media screen and (max-width: 662px) {
    .Promo__title {
        margin: 240px 0 190px;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        width: 85%;
    }
}

@media screen and (max-width: 550px) {
    .Promo__title {
        margin: 234px 0 212px;
        font-weight: 400;
        font-size: 29px;
        line-height: 37px;
        width: 292px;
    }
}